/* header.css */

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* Ensure the navbar is above other elements */
 
  
  background-color: transparent;
  /* Set the navbar background to transparent */
}


.transparent-navbar {
  background-color: transparent;
}

.logo {
  width: 120px;
    height: 50px;
}

.navbar-brand {
  color: rgb(15, 9, 9);
  /* Set the text color of the navbar brand */
  font-size: 30px;
  margin-bottom: 50px;
}

.navbar-nav .nav-link {
  color: rgb(10, 7, 7);
  font-family: 'Gluten', sans-serif;
  
}

.navbar-toggler-icon {
  background-color: white;
  /* Set the color of the navbar toggler icon */
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 150px;
    margin-bottom: 40px;
    margin-left: 30px;
  }

  .logo {
    width: 350px;
    height: 150px;
  }
  .navbar-nav .nav-link {
    font-size: 40px;
    font-weight: bold;
    color: rgb(250, 241, 241);
    margin: 10px;
   
  }
}